BERLIN_OV12870_LITEON=/odm/etc/camera/configeffect/multidenoise/ov12870/
BERLIN_OV12870_OFILM=/odm/etc/camera/configeffect/multidenoise/ov12870/
BERLIN_IMX386_OFILM=/odm/etc/camera/configeffect/multidenoise/imx386/
BERLIN_IMX386_SUNNY=/odm/etc/camera/configeffect/multidenoise/imx386/
BERLIN_IMX219BLN_SUNNY=/odm/etc/camera/configeffect/multidenoise/imx219/
BERLIN_IMX219BLN_LITEON=/odm/etc/camera/configeffect/multidenoise/imx219/
BERLIN_HI843BLN_OFILM=/odm/etc/camera/configeffect/multidenoise/hi843/