AGASSI2_sp2509AGASSI2=/odm/etc/camera/configeffect/multidenoise/sp2509agassi2/
AGASSI2_gc2375AGASSI2=/odm/etc/camera/configeffect/multidenoise/gc2375agassi2/
AGASSI2_hi556AGASSI2BACK=/odm/etc/camera/configeffect/multidenoise/hi556agassi2back/
AGASSI2_hi556AGASSI2BACK_HX=/odm/etc/camera/configeffect/multidenoise/hi556agassi2back/
AGASSI2_gc5025AGASSI2BACK=/odm/etc/camera/configeffect/multidenoise/gc5025agassi2back/
AGASSI2_hi846AGASSI2BACK_HOLITECH=/odm/etc/camera/configeffect/multidenoise/hi846agassi2back_holitech/
AGASSI2_hi846AGASSI2BACK_OFILM=/odm/etc/camera/configeffect/multidenoise/hi846agassi2back_ofilm/
AGASSI2_hi846AGASSI2BACK_LITEARRAY=/odm/etc/camera/configeffect/multidenoise/hi846agassi2back_holitech/
