AGASSI2_hi556AGASSI2BACK=/odm/etc/camera/configeffect/digitalzoom/hi556agassi2back/
AGASSI2_hi556AGASSI2BACK_HX=/odm/etc/camera/configeffect/digitalzoom/hi556agassi2back/
AGASSI2_gc5025AGASSI2BACK=/odm/etc/camera/configeffect/digitalzoom/gc5025agassi2back/
AGASSI2_hi846AGASSI2BACK_HOLITECH=/odm/etc/camera/configeffect/digitalzoom/hi846agassi2back_holitech/
AGASSI2_hi846AGASSI2BACK_OFILM=/odm/etc/camera/configeffect/digitalzoom/hi846agassi2back_ofilm/
AGASSI2_hi846AGASSI2BACK_LITEARRAY=/odm/etc/camera/configeffect/digitalzoom/hi846agassi2back_holitech/

