BERLIN_OV12870_LITEON=/odm/etc/camera/hwbeauty/ov12870/
BERLIN_OV12870_OFILM=/odm/etc/camera/hwbeauty/ov12870/
BERLIN_IMX386_OFILM=/odm/etc/camera/hwbeauty/imx386/
BERLIN_IMX386_SUNNY=/odm/etc/camera/hwbeauty/imx386/
BERLIN_IMX219BLN_SUNNY=/odm/etc/camera/hwbeauty/imx219/
BERLIN_IMX219BLN_LITEON=/odm/etc/camera/hwbeauty/imx219/
BERLIN_HI843BLN_OFILM=/odm/etc/camera/hwbeauty/hi843/
