AGASSI2_gc5025AGASSI2BACK=/odm/etc/camera/nicefood/gc5025agassi2back/
AGASSI2_hi556AGASSI2BACK=/odm/etc/camera/nicefood/hi556agassi2back/
AGASSI2_hi556AGASSI2BACK_HX=/odm/etc/camera/nicefood/hi556agassi2back/
AGASSI2_hi846AGASSI2BACK_HOLITECH=/odm/etc/camera/nicefood/hi846agassi2back_holitech/
AGASSI2_hi846AGASSI2BACK_OFILM=/odm/etc/camera/nicefood/hi846agassi2back_ofilm/
AGASSI2_hi846AGASSI2BACK_LITEARRAY=/odm/etc/camera/nicefood/hi846agassi2back_holitech/

