<CONFIG>
<config NV_FILE_NAME="PTCRB_00101.bin" MCCMNC_SIZE="1" MCCMNC_LIST="00101" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="ENTEL_CL.bin" MCCMNC_SIZE="2" MCCMNC_LIST="73001,73010" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="WOM_CL.bin" MCCMNC_SIZE="2" MCCMNC_LIST="73004,73009" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="ENTEL_PE.bin" MCCMNC_SIZE="1" MCCMNC_LIST="71617" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="MOVISTAR_AR.bin" MCCMNC_SIZE="1" MCCMNC_LIST="72207" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="MOVISTAR_PE.bin" MCCMNC_SIZE="1" MCCMNC_LIST="71606" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="PERSONAL_AR.bin" MCCMNC_SIZE="2" MCCMNC_LIST="72234,722341" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="TIM_BR.bin" MCCMNC_SIZE="3" MCCMNC_LIST="72402,72403,72404" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="CLARO_BR.bin" MCCMNC_SIZE="1" MCCMNC_LIST="72405" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="CLARO_CL.ato" MCCMNC_SIZE="1" MCCMNC_LIST="73003" IS_VIRTUAL_OPERATOR="" SPN_INFO="" GID1_INFO="" GID2_INFO="" MODEM_NUM="1" />
<config NV_FILE_NAME="CLARO_EC.ato" MCCMNC_SIZE="2" MCCMNC_LIST="74001,740010" IS_VIRTUAL_OPERATOR="" SPN_INFO="" GID1_INFO="" GID2_INFO="" MODEM_NUM="1" />
<config NV_FILE_NAME="CLARO_PE.ato" MCCMNC_SIZE="1" MCCMNC_LIST="71610" IS_VIRTUAL_OPERATOR="" SPN_INFO="" GID1_INFO="" GID2_INFO="" MODEM_NUM="1" />
<config NV_FILE_NAME="VIVO_BR.bin" MCCMNC_SIZE="4" MCCMNC_LIST="72406,72410,72411,72423" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="CORREIOS_BR.bin" MCCMNC_SIZE="1" MCCMNC_LIST="72417" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="OI_BR.bin" MCCMNC_SIZE="2" MCCMNC_LIST="72416,72431" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="ALGAR_BR.bin" MCCMNC_SIZE="3" MCCMNC_LIST="72432,72433,72434" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="NEXTEL_BR.bin" MCCMNC_SIZE="1" MCCMNC_LIST="72439" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="PORTOCONECTA_BR.bin" MCCMNC_SIZE="1" MCCMNC_LIST="72454" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="ATT_MX.bin" MCCMNC_SIZE="3" MCCMNC_LIST="334050,334090,33405" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
</CONFIG>