<CONFIG>
<config NV_FILE_NAME="GCF_00101.bin" MCCMNC_SIZE="1" MCCMNC_LIST="00101" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="DT_NL.bin" MCCMNC_SIZE="1" MCCMNC_LIST="20416" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="DT_RO.bin" MCCMNC_SIZE="1" MCCMNC_LIST="22603" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="DT_MK.bin" MCCMNC_SIZE="1" MCCMNC_LIST="29401" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="DT_CZ.bin" MCCMNC_SIZE="1" MCCMNC_LIST="23001" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="DT_DE.bin" MCCMNC_SIZE="1" MCCMNC_LIST="26201" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="PLUS_PL.bin" MCCMNC_SIZE="2" MCCMNC_LIST="26001,26012" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_DE.bin" MCCMNC_SIZE="1" MCCMNC_LIST="26202" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_NL.bin" MCCMNC_SIZE="1" MCCMNC_LIST="20404" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_ES.bin" MCCMNC_SIZE="1" MCCMNC_LIST="21401" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_PT.bin" MCCMNC_SIZE="1" MCCMNC_LIST="26801" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_GB.bin" MCCMNC_SIZE="1" MCCMNC_LIST="23415" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_IE.bin" MCCMNC_SIZE="1" MCCMNC_LIST="27201" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_IT.bin" MCCMNC_SIZE="1" MCCMNC_LIST="22210" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_GR.bin" MCCMNC_SIZE="1" MCCMNC_LIST="20205" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_HU.bin" MCCMNC_SIZE="1" MCCMNC_LIST="21670" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_CZ.bin" MCCMNC_SIZE="1" MCCMNC_LIST="23003" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_RO.bin" MCCMNC_SIZE="1" MCCMNC_LIST="22601" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_AL.bin" MCCMNC_SIZE="1" MCCMNC_LIST="27602" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_ZA.bin" MCCMNC_SIZE="1" MCCMNC_LIST="65501" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_TR.bin" MCCMNC_SIZE="1" MCCMNC_LIST="28602" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="VDF_MT.bin" MCCMNC_SIZE="1" MCCMNC_LIST="27801" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="FT_FR.bin" MCCMNC_SIZE="2" MCCMNC_LIST="20801,20802" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="O2_SK.bin" MCCMNC_SIZE="1" MCCMNC_LIST="23106" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="SWISSCOM_CH.bin" MCCMNC_SIZE="1" MCCMNC_LIST="22801" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="KDDI_JP.bin" MCCMNC_SIZE="2" MCCMNC_LIST="44050,44051" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1" />
<config NV_FILE_NAME="LGU_KR.ato" MCCMNC_SIZE="1" MCCMNC_LIST="45006" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1" />
<config NV_FILE_NAME="DEGREES_NZ.bin" MCCMNC_SIZE="1" MCCMNC_LIST="53024" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="UNICOM_MY.bin" MCCMNC_SIZE="1" MCCMNC_LIST="50218" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="WEBE_MY.bin" MCCMNC_SIZE="1" MCCMNC_LIST="502153" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="BT_GB.bin" MCCMNC_SIZE="1" MCCMNC_LIST="23408" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="HOTMOBILE_IL.bin" MCCMNC_SIZE="1" MCCMNC_LIST="42507" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="MOBILY_SA.ato" MCCMNC_SIZE="1" MCCMNC_LIST="42003" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="STC_SA.ato" MCCMNC_SIZE="1" MCCMNC_LIST="42001" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="ZAIN_SA.ato" MCCMNC_SIZE="1" MCCMNC_LIST="42004" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
</CONFIG>