LELAND_OV13855LLD_LITEON=/odm/etc/camera/tornado/ov13855_leland/
LELAND_HI1333LLD_SUNNY=/odm/etc/camera/tornado/hi1333_leland/
LELAND_OV13855LLDFRONT_LITEON=/odm/etc/camera/tornado/ov13855_leland_front/
LELAND_OV13855LLDFRONT_LITEONV2=/odm/etc/camera/tornado/ov13855_leland_front/
LELAND_HI1333LLDFRONT_SUNNY=/odm/etc/camera/tornado/hi1333_leland_front/
LELAND_IMX258LLD_OFILM=/odm/etc/camera/tornado/imx258_leland/
LELAND_IMX258LLDFRONT_OFILM=/odm/etc/camera/tornado/imx258_leland_front/