<CONFIG>
<config NV_FILE_NAME="CMCC_CN.ato" MCCMNC_SIZE="5" MCCMNC_LIST="46000,46002,46007,46008,46004" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="TEST_WH.ato" MCCMNC_SIZE="5" MCCMNC_LIST="46060,46012,46010,46088,46066" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
<config NV_FILE_NAME="CUCC_CN.ato" MCCMNC_SIZE="3" MCCMNC_LIST="46001,46006,46009" IS_VIRTUAL_OPERATOR="" SPN_INFO= "" GID1_INFO="" GID2_INFO="" MODEM_NUM="1"/>
</CONFIG>