LELAND_OV13855LLD_LITEON=/odm/etc/camera/hdccalib/ov13855_liteon/
LELAND_HI1333LLD_SUNNY=/odm/etc/camera/hdccalib/hi1333_sunny/
LELAND_IMX258LLD_OFILM=/odm/etc/camera/hdccalib/imx258_ofilm/
LELAND_OV13855LLDFRONT_LITEON=/odm/etc/camera/hdccalib/ov13855_liteon_front/
LELAND_HI1333LLDFRONT_SUNNY=/odm/etc/camera/hdccalib/hi1333_sunny_front/
LELAND_IMX258LLD_OFILM=/odm/etc/camera/hdccalib/imx258_ofilm/